.pixel {
  width: 20px;
  height: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  background-color: white;

  &--filled {
    background-color: black;
    border-color: white;
  }
}
