* {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
select {
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}
