.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #242424;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #272727 12%,
      transparent 12.5%,
      transparent 87%,
      #272727 87.5%,
      #272727
    ),
    linear-gradient(
      150deg,
      #272727 12%,
      transparent 12.5%,
      transparent 87%,
      #272727 87.5%,
      #272727
    ),
    linear-gradient(
      30deg,
      #272727 12%,
      transparent 12.5%,
      transparent 87%,
      #272727 87.5%,
      #272727
    ),
    linear-gradient(
      150deg,
      #272727 12%,
      transparent 12.5%,
      transparent 87%,
      #272727 87.5%,
      #272727
    ),
    linear-gradient(
      60deg,
      #27272777 25%,
      transparent 25.5%,
      transparent 75%,
      #27272777 75%,
      #27272777
    ),
    linear-gradient(
      60deg,
      #27272777 25%,
      transparent 25.5%,
      transparent 75%,
      #27272777 75%,
      #27272777
    );
  background-size: 26px 46px;
  background-position: 0 0, 0 0, 13px 23px, 13px 23px, 0 0, 13px 23px;
}

.card {
  padding: 3rem;
  border-radius: 26px;
  background: #242424;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flash {
  &:hover,
  &:has(:checked) {
    animation: flash 1s infinite;
  }
}

.speed {
  width: 5rem;
}

form {
  display: flex;
  gap: 2rem;
}

.marquee {
  &:hover,
  &:has(:checked) {
    border: 1px dashed white;
    animation: marquee 1s infinite;
  }
}

@keyframes marquee {
  0% {
    border: 1px dashed white;
  }
  50% {
    border: 1px dotted white;
  }
  100% {
    border: 1px dashed white;
  }
}

@keyframes flash {
  0% {
    color: #fff;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
